/* .container */
.container {
    margin: auto;
    width: min(100%, 1180px);
}

/* header */
header {
    position: fixed;
    justify-content: space-around;
    align-items: center;
    display: flex;
    max-width: inherit;
    width: inherit;
    left: 130px;
    top: 0;
    z-index: 1;
}

h2 {
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    color: #FA793C;
}

.navbar_ul {
    display: flex;
    column-gap: 32px;
}

.section1 {
    position: relative;
    width: min(100%, 1440px);
    height: 550px;
    margin-top: 50px;
}

.section1_cover {
    height: 550px;
    position: relative;
}

.section1_cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section1_title {
    font-family: Kanit;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #FFFFFF;
    margin: auto;
}

.section1_aticle {
    position: absolute;
    width: calc(100% - 762px);
    padding: 34px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section1_p {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}